body {
  background-color: rgb(252, 250, 250);
}

.bg {
  background-color: #d9299b;

  font-size: smaller;
}

header img {
  position: relative;
  left: 5%;
  top: 10px;
  height: 160px;
  width: 170px;
  border-radius: 50%;
}

/*.navbar{
    height: 70px;
}

.navbar-brand{
    position: relative;
    top: 30px;
    display: block;
     color: aliceblue;
    text-decoration:none ;
    font-size: 24px;
    margin-left: 30px;
    font-family: "open sans";
}

.nav-link{
    color:whitesmoke;
    text-decoration: none;
    float:right;
    margin-left: 80px;
    margin-right: 20px;
}

.nav-link:hover{
    color:black;
    font-size: medium;
}
*/
header {
  height: 300px;
  background-image: linear-gradient(
      rgba(221, 15, 111, 0.5),
      rgba(241, 198, 223, 0.342)
    ),
    url("../imagenes/chicas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
}

.nav-link,
.nav-link-active {
  color: beige;
}
.carosusel-item img {
  margin-left: 50px;
}

.card img {
    margin: 0px;
    margin-top: 10px;
    width: 285px;
  border-radius:0px;
  height: 240px;
    }
.card-title{
      margin-bottom: var(--bs-card-title-spacer-y);
    color: #d9299b;
    text-align: center;
}
.card {
  height: 394px;
  width: 208px;
  border: 1px solid #d9299b78;
  border-radius:0px;
}

.card a {
  margin-left: 80px;
}

.card p {
  font-size: small;
}

.carousel{
  position: relative;
  width: 100%;
  margin-top: 0px;    
}

.carousel-indicators [data-bs-target] {
  background-color: #0a0a0a; /* Color personalizado */
  width: 30px; /* Ajusta el tamaño */
  height: 4px;
  border-radius: 0; /* Forma circular */
  margin-bottom: -20px;
}

/* Cambia el estilo del indicador activo */
.carousel-indicators .active {
  background-color: #d9299b; /* Color para el indicador activo */
  width: 30px; /* Tamaño diferente para el activo */
  height: 4px;
}

.carousel-indicators button {
  color: #d9299b;
}

.carousel-inner .carosusel-item img {
  width: 10px;
}

.carouselExampleIndicators {
  margin-left: 400px;
}
.width {
  height: 300px;
  width: 100%;
}

.carousel-control-prev-icon {
  background-image: url("../imagenes/antras.png");
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-image: url("../imagenes/post.png");
  border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1.5;
}

.margen {
  margin: 10px;
}

.row {
  justify-content:center;
}

.title {
  color: #d9299b;
  text-align: center;
  font-size: 21px;
}

.btn{
  color: white;
  border-radius:15px;
}

.wall{
  font-family:Sport World-Regular ;
}
.banner_img{
  width: 28rem;
}
.banner_title{
    color: #d9299b;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
    padding: 30px 0px 0px 0px;
}
.carousel-control-next, .carousel-control-prev{    
    top: 120px;  
    width: 70px;
    height: 70px;   
    border-radius: 50px;
  background: #d9299b;
}
.carousel-control-prev{
      left: 20px;
}
.carousel-control-next{
   right: 20px;
}

@font-face {
  font-family: 'MiFuente';
  src: url('../fuentes/Sports World-Regular.ttf') format('ttf'),
       url('../fuentes/Sports World-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
a.navbar-brand.wall{
  color: white;
}
.carousel-indicators{
  margin-bottom: -2rem;
}


@media(max-width :578px){
  .carousel-indicators{
    margin-bottom: -2rem;
  }
  .carousel-control-next, .carousel-control-prev{
    top: 120px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #d9299b;
  }
.banner_img{
      width: 23rem;
}
header img {
  
  position: relative;
  left: 37%;
  top: 185px;
  height: 111px;
  width: 107px;
  border-radius: 50%;
}
.carousel{
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
}
  .col{
    flex:none;
  }
.row{
  margin-left: -3px;
  margin-top: 26px;
}
.card{
  height: 388px;
  width: 318px;
}
.card img{
  margin: 0px;
  margin-top: 5px;
  width: 291px;
}
.card a{
  margin-left: 82px;
}
}
